.spevents-box{
    background: #fff;
    padding: 30px;
    min-height: 50px;
    margin-left: 10px;
    width: 28%;
    float: left;
}

.title{
    font-size: 18px;
    font-weight: 400;
    position: relative;
    float: right;
}

.count {
    font-size: 36px;
    font-weight: 400;
}

.admin{
    background : #dedede;
}